<div :class="'col-'+size" style="margin-top: 10px; margin-bottom: 10px">
    <div class="card">
        <div class="card-header bg-success">
            <span class="float-left">{{ name }}</span>
            <span class="float-right">
                <button class="btn btn-outline-warning btn-circle" v-on:click="moreSize()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button class="btn btn-outline-warning btn-circle" v-on:click="minusSize()"><i class="fa fa-minus" aria-hidden="true"></i></button>
            </span>
        </div>

        <div class="card-body" v-if="state < State.loadindGraphique">
            <div class="form-group">
                <label for="antenna">Antenne / Lieu</label>
                <select class="form-control selectpicker" id="antenna" v-model="antennaName" :disabled="state !== State.antenna">
                    <option v-for="antenna in antennas" :value="antenna.name">{{antenna.name}}</option>
                </select>
            </div>
            <div class="form-group" v-if="state > State.antenna && currentAntenna !== null">
                <label for="band">Bande</label>
                <select class="form-control selectpicker" id="band" v-model="bandName" :disabled="state !== State.band">
                    <option v-for="band in currentAntenna.bands" :value="band.name">{{band.name}}</option>
                </select>
                <small v-if="currentBand !== null" class="form-text text-muted">
                    [ start : <b>{{currentBand.startFrequency}}MHz</b> | end : <b>{{currentBand.stopFrequency}}MHz</b> | rbw : <b>{{currentBand.rbw}}KH</b> ]
                </small>
            </div>
            <div class="form-group" v-if="state > State.band && currentBand !== null">
                <label for="chart">Graphique</label>
                <select class="form-control selectpicker" id="chart" v-model="chart">
                    <option v-for="currentChart in currentBand.charts" :value="currentChart">{{currentChart.type}}</option>
                </select>
                {{chart}}
            </div>
        </div>
        <div class="card-body" v-else-if="state === State.loadindGraphique">
            Telechargement du graphique en cours...
        </div>
        <div :class="{'graphique':state >= State.loadindGraphique}" class="card-body w-100 h-100" ref="antoine">

        </div>
        <div class="card-footer">
            <span class="float-left">
                    <button v-if="state !== State.antenna"type="button" class="btn success" v-on:click="before()"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Retour </button>
                </span>
            <span class="float-right">
                <button type="button" class="btn success" v-on:click="next()"> <i class="fa fa-arrow-right" aria-hidden="true"></i> Suivant </button>
            </span>
        </div>
    </div>
</div>